.customLeading {
  line-height: 70px;
}

.bg-pattern {
  background-image: url(../../../assets/Pattern_5.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
