.cusLeading {
  line-height: 90px;
}

.rectangle {
  background-image: url(../../../assets/Rectangle.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.bg-robot {
  background-image: url(../../../assets/robot_man.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 40%;
}

/* Responsive */
@media only screen and (max-width: 576px) {
  .bg-robot {
    background-position: bottom;
    background-size: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .cusLeading {
    line-height: 60px;
  }

  .bg-robot {
    background-position: bottom;
    background-size: 60%;
  }
}