.TextShadow {
  filter: drop-shadow(250px -100px 70px #6952eb);
}

.flexMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.phaseFirst {
  filter: drop-shadow(-160px 100px 30px #7058fa);
}

.phaseTwo {
  filter: drop-shadow(150px -50px 30px #7058fa);
}

.phaseFour {
  filter: drop-shadow(-50px -100px 40px #7058fa);
}

.phaseFive {
  filter: drop-shadow(220px 100px 50px #7058fa);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .flexMap {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: baseline;
  }
}

